:root{
  --opal: #a7cecbff;
  --pewter-blue: #8ba6a9ff;
  --gold-fusion: #75704eff;
  --sage: #cacc90ff;
  --lemon-meringue: #f4ebbeff;
  
}

.App {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 75px auto 50px; 
}
.footer {
  text-align: center;
  color: white;
  background-color: black;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4
}

.questionPreview {
  border-color: gray;
  border-width: 3px;
  margin: 20px;
  padding: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(237, 207, 207)
}

.topnav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  display: flex;
}

.topnav .nav-el {
  color: #f2f2f2;
  padding: 20px 22px;
  font-size: 17px;
}

.topnav > .login {
  margin-left: auto;
}
.topnav .nav-el:hover:not(:last-child) {
  background-color: #ddd;
  opacity: 0.5;
  color: black;
}
.main-container {
  background-color: rgb(247, 215, 251);
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 85vh;
}

.active {
  background-color: var(--opal);
  color: white;
}

.user-name {
  display:flex;
  flex-grow: 4;
}

.avatar {
 height: 50px;
 background-color: white;
}
.avatar-large {
  height: 100px;
  background-color: white;
  border-style: solid;
  border-width: 10px;
}

button {
  border-radius: 4px;
}

.button-poll {
  background-color: aquamarine;
  color: black;
}

.questionPreview {
  border-style: groove;
  max-width: 300px;
}

.questions-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.login-form {
  background-color:white;
}

.new-question-form {
  display:flex;
  flex-direction: column;
}

.form-answer {
  display: flex;
  flex-direction: column;
}

.leaderboard-row {
  display: flex;
  flex-direction: row;
  padding:10px;
}

.option {
  padding: 20px;
}
.red-border {
  border-style: dotted;
  border-color: red;
}

.option-voted {
  color: red;
  font-size: medium;
  font-weight: bolder;
}

.poll {
  display: flex;
  flex-direction:row;
  align-items: center;
}

.radio-inputs {
  font-size: larger;
  font-weight: bolder;
  margin-left: 20px;
}
.option-one {
  margin-bottom: 10px;
}
.submit-button {
  margin-top: 10px;
  border-radius: 4px;
  font-weight: bold ;
}
.percentage {
  border-style: solid;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px;
  padding-right: 6px;
  background-color: #444;
  color: white;
}
.logout-button {
  margin-left: 5px;
}
.submit-button {
  max-width: 150px;
}